/* Main page layout - flex container spanning full viewport height */
body {
    margin: 0;
    padding-top: 0; 
    padding-left: 0;
    display: flex; 
    height: 100vh;
    background-color: rgb(236, 211, 89);;
}

.image-side {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}
/*justify content-> vertical centering
align-items-> horizontal centering*/

.login-box {
    background: linear-gradient(to right, #eef2f3, #dfe9f3);
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    object-position: center;
    gap: 15px;
    padding: 0;
    height: 60vh;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
}

.login-box button{
    background-color: black; /* button color */
    color: white;             /* text color */
    padding: 12px;              /* height of the button */
    border: none;               /* remove default border */
    cursor: pointer;            /* pointer on hover */
    width: 200px;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.login-box form {
    display: flex;           /* stack inputs vertically */
    flex-direction: column;
    align-items: center;     
    gap: 15px;               /* spacing between inputs/buttons */
    margin: 0;               
    padding: 0;              
    width: 100%;             /*match login-box width */
}

.logo {
    height: 70px;    
    width: auto;        
    object-fit: contain;
}

      
